body { 
	background-color:#CCC; 
	height: 100% }

#map-outer {  height: 100%; 
	  		padding: 20px; 
			border: 2px solid #CCC; 
			margin-bottom: 20px; 
			background-color:#FFF }
	  
#map-container { height: 650px }

#format { margin-top: 2em; }

  button {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 200px;
    vertical-align: middle;
}